openapi: 3.1.0
info:
  title: Checkly Public Accounts Incidents API
  version: v1
  description: The Checkly Public API allows you to programmatically manage your monitoring checks, alerts, and more. If you have any questions, please do not hesitate to get in touch with us.
  contact:
    name: Checkly Support
    url: https://checklyhq.com/support
  license:
    name: MIT
servers:
- url: https://api.checklyhq.com
  description: Production server
security:
- bearerAuth: []
  accountId: []
tags:
- name: Incidents
paths:
  /v1/incidents:
    get:
      summary: List Incidents
      description: Retrieve all incidents
      operationId: listIncidents
      parameters:
      - name: limit
        in: query
        description: Limit the number of results
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: List of incidents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentList'
      tags:
      - Incidents
components:
  schemas:
    IncidentList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Incident'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    Incident:
      type: object
      properties:
        id:
          type: string
          description: Incident ID
        name:
          type: string
          description: Incident name
        status:
          type: string
          enum:
          - open
          - resolved
          description: Incident status
        startedAt:
          type: string
          format: date-time
          description: Incident start timestamp
        resolvedAt:
          type: string
          format: date-time
          description: Incident resolution timestamp
    PaginationMeta:
      type: object
      properties:
        currentPage:
          type: integer
          description: Current page number
        totalPages:
          type: integer
          description: Total number of pages
        totalItems:
          type: integer
          description: Total number of items
        limit:
          type: integer
          description: Items per page
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API Key authentication for Checkly API. You can get your API key at https://app.checklyhq.com/settings/user/api-keys
    accountId:
      type: apiKey
      in: header
      name: X-Checkly-Account
      description: Your Checkly account ID. You can find it at https://app.checklyhq.com/settings/account/general
