openapi: 3.1.0
info:
  title: Checkly Public Accounts Reports API
  version: v1
  description: The Checkly Public API allows you to programmatically manage your monitoring checks, alerts, and more. If you have any questions, please do not hesitate to get in touch with us.
  contact:
    name: Checkly Support
    url: https://checklyhq.com/support
  license:
    name: MIT
servers:
- url: https://api.checklyhq.com
  description: Production server
security:
- bearerAuth: []
  accountId: []
tags:
- name: Reports
paths:
  /v1/reports:
    get:
      summary: List Reports
      description: Retrieve all reports
      operationId: listReports
      parameters:
      - name: limit
        in: query
        description: Limit the number of results
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: List of reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportList'
      tags:
      - Reports
components:
  schemas:
    ReportList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Report'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    PaginationMeta:
      type: object
      properties:
        currentPage:
          type: integer
          description: Current page number
        totalPages:
          type: integer
          description: Total number of pages
        totalItems:
          type: integer
          description: Total number of items
        limit:
          type: integer
          description: Items per page
    Report:
      type: object
      properties:
        id:
          type: string
          description: Report ID
        name:
          type: string
          description: Report name
        type:
          type: string
          description: Report type
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API Key authentication for Checkly API. You can get your API key at https://app.checklyhq.com/settings/user/api-keys
    accountId:
      type: apiKey
      in: header
      name: X-Checkly-Account
      description: Your Checkly account ID. You can find it at https://app.checklyhq.com/settings/account/general
