openapi: 3.1.0
info:
  title: Checkly Public Accounts Check Groups API
  version: v1
  description: The Checkly Public API allows you to programmatically manage your monitoring checks, alerts, and more. If you have any questions, please do not hesitate to get in touch with us.
  contact:
    name: Checkly Support
    url: https://checklyhq.com/support
  license:
    name: MIT
servers:
- url: https://api.checklyhq.com
  description: Production server
security:
- bearerAuth: []
  accountId: []
tags:
- name: Check Groups
paths:
  /v1/check-groups:
    get:
      summary: List Check Groups
      description: Retrieve all check groups
      operationId: listCheckGroups
      parameters:
      - name: limit
        in: query
        description: Limit the number of results
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: List of check groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckGroupList'
      tags:
      - Check Groups
    post:
      summary: Create Check Group
      description: Create a new check group
      operationId: createCheckGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckGroupCreate'
      responses:
        '201':
          description: Check group created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckGroup'
      tags:
      - Check Groups
components:
  schemas:
    CheckGroupCreate:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Check group name
        activated:
          type: boolean
          description: Whether the check group should be active
    CheckGroup:
      type: object
      properties:
        id:
          type: string
          description: Check group ID
        name:
          type: string
          description: Check group name
        activated:
          type: boolean
          description: Whether the check group is active
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
    CheckGroupList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CheckGroup'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    PaginationMeta:
      type: object
      properties:
        currentPage:
          type: integer
          description: Current page number
        totalPages:
          type: integer
          description: Total number of pages
        totalItems:
          type: integer
          description: Total number of items
        limit:
          type: integer
          description: Items per page
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API Key authentication for Checkly API. You can get your API key at https://app.checklyhq.com/settings/user/api-keys
    accountId:
      type: apiKey
      in: header
      name: X-Checkly-Account
      description: Your Checkly account ID. You can find it at https://app.checklyhq.com/settings/account/general
