openapi: 3.2.0
info:
  title: Checkly Public Test Session Error Groups API
  version: v1
  description: These are the docs for the newly released Checkly Public API.<br />If you have any questions, please do not hesitate to get in touch with us.
servers:
- url: https://api.checklyhq.com
security:
- Bearer: []
tags:
- name: Test Session Error Groups
paths:
  /v1/test-session-error-groups:
    get:
      summary: List all test session error groups in your account.
      operationId: getV1Testsessionerrorgroups
      description: List all test session error groups in your account.
      tags:
      - Test Session Error Groups
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestSessionErrorGroupsList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
      - schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
          description: Limit the number of results.
        required: false
        description: Limit the number of results.
        name: limit
        in: query
      - schema:
          type: number
          default: 1
          description: Page number.
          exclusiveMinimum: 0
        required: false
        description: Page number.
        name: page
        in: query
      - schema:
          type: string
          format: uuid
          description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        required: false
        description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        name: x-checkly-account
        in: header
  /v1/test-session-error-groups/projects/{projectId}:
    get:
      summary: List all test session error groups for a specific project.
      operationId: getV1TestsessionerrorgroupsProjectsProjectid
      description: List all test session error groups for a specific project.
      tags:
      - Test Session Error Groups
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestSessionErrorGroupsList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
      - schema:
          type: string
          format: uuid
        required: true
        name: projectId
        in: path
      - schema:
          type: string
          format: uuid
          description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        required: false
        description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        name: x-checkly-account
        in: header
  /v1/test-session-error-groups/{id}:
    get:
      summary: Retrieve one test session error group.
      operationId: getV1TestsessionerrorgroupsId
      description: Retrieve one test session error group.
      tags:
      - Test Session Error Groups
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestSessionErrorGroup'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
      - schema:
          type: string
          format: uuid
        required: true
        name: id
        in: path
      - schema:
          type: string
          format: uuid
          description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        required: false
        description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        name: x-checkly-account
        in: header
    patch:
      summary: Update a test session error group. Mainly used for archiving test session error groups.
      operationId: patchV1TestsessionerrorgroupsId
      description: Update a test session error group. Mainly used for archiving test session error groups.
      tags:
      - Test Session Error Groups
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestSessionErrorGroup'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
      - schema:
          type: string
          format: uuid
        required: true
        name: id
        in: path
      - schema:
          type: string
          format: uuid
          description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        required: false
        description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        name: x-checkly-account
        in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchTestSessionErrorGroupRequest'
components:
  schemas:
    TestSessionErrorGroupPlaywrightMetadata:
      type: object
      properties:
        projectName:
          type: string
        specId:
          type: string
          maxLength: 500
        testFile:
          type: string
        testTitle:
          type: string
        suitePath:
          type: array
          items:
            type: string
      required:
      - projectName
      - testFile
      - testTitle
      - suitePath
    ApiError:
      type: object
      properties:
        statusCode:
          type: number
        error:
          type: string
        message:
          type: string
      required:
      - statusCode
      - error
      - message
    TestSessionErrorGroupsList:
      type: array
      items:
        $ref: '#/components/schemas/TestSessionErrorGroup'
    TestSessionErrorGroup:
      type: object
      properties:
        id:
          type: string
          format: uuid
        projectId:
          type:
          - string
          - 'null'
          format: uuid
        environments:
          type:
          - array
          - 'null'
          items:
            type: string
          description: The environments in which this error has been observed.
        errorHash:
          type: string
          description: The hash of the cleaned error message for quicker deduplication.
        rawErrorMessage:
          type:
          - string
          - 'null'
          description: The raw error message as recorded in a test session result.
        cleanedErrorMessage:
          type: string
          description: The cleaned and sanitized error message used for hashing and grouping.
        firstSeen:
          type: string
          format: date-time
        lastSeen:
          type: string
          format: date-time
        archivedUntilNextEvent:
          type: boolean
        pwtMetadata:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TestSessionErrorGroupPlaywrightMetadata'
          description: 'Playwright test metadata: project, file, title, spec ID, and suite path for each occurrence.'
        rootCauseAnalyses:
          type: array
          items:
            $ref: '#/components/schemas/TestSessionErrorGroupRootCauseAnalysis'
      required:
      - id
      - environments
      - errorHash
      - rawErrorMessage
      - cleanedErrorMessage
      - firstSeen
      - lastSeen
      - archivedUntilNextEvent
      - pwtMetadata
    PatchTestSessionErrorGroupRequest:
      type: object
      properties:
        archiveForEver:
          type: boolean
        archivedUntilNextEvent:
          type: boolean
    TestSessionErrorGroupRootCauseAnalysis:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        analysis: {}
        provider:
          type:
          - string
          - 'null'
        model:
          type:
          - string
          - 'null'
        durationMs:
          type:
          - number
          - 'null'
        userContext: {}
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: Bearer
      description: 'The Checkly Public API uses API keys to authenticate requests. You can get the API Key <a href="https://app.checklyhq.com/settings/user/api-keys" target="_blank">here</a>.</br>Your API key is like a password: <br>keep it secure!</br></br>Authentication to the API is performed using the Bearer auth method in the Authorization header and using the account ID.</br></br>For example, set <b>Authorization</b> header while using cURL: <code>curl -H "Authorization: Bearer [apiKey]" "X-Checkly-Account: [accountId]"</code></br>'
