openapi: 3.1.0
info:
  title: Checkly Public Accounts Check Statuses API
  version: v1
  description: The Checkly Public API allows you to programmatically manage your monitoring checks, alerts, and more. If you have any questions, please do not hesitate to get in touch with us.
  contact:
    name: Checkly Support
    url: https://checklyhq.com/support
  license:
    name: MIT
servers:
- url: https://api.checklyhq.com
  description: Production server
security:
- bearerAuth: []
  accountId: []
tags:
- name: Check Statuses
paths:
  /v1/check-statuses:
    get:
      summary: List Check Statuses
      description: Retrieve current health status for all checks
      operationId: listCheckStatuses
      parameters:
      - name: limit
        in: query
        description: Limit the number of results
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: List of check statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckStatusList'
      tags:
      - Check Statuses
components:
  schemas:
    CheckStatusList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CheckStatus'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    PaginationMeta:
      type: object
      properties:
        currentPage:
          type: integer
          description: Current page number
        totalPages:
          type: integer
          description: Total number of pages
        totalItems:
          type: integer
          description: Total number of items
        limit:
          type: integer
          description: Items per page
    CheckStatus:
      type: object
      properties:
        checkId:
          type: string
          description: Check ID
        name:
          type: string
          description: Check name
        status:
          type: string
          enum:
          - passing
          - failing
          - degraded
          description: Current status
        lastRunAt:
          type: string
          format: date-time
          description: Last run timestamp
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API Key authentication for Checkly API. You can get your API key at https://app.checklyhq.com/settings/user/api-keys
    accountId:
      type: apiKey
      in: header
      name: X-Checkly-Account
      description: Your Checkly account ID. You can find it at https://app.checklyhq.com/settings/account/general
