openapi: 3.2.0
info:
  title: Checkly Public Checks API
  version: v1
  description: These are the docs for the newly released Checkly Public API.<br />If you have any questions, please do not hesitate to get in touch with us.
servers:
- url: https://api.checklyhq.com
security:
- Bearer: []
tags:
- name: Checks
paths:
  /v1/checks:
    get:
      summary: List all checks
      operationId: getV1Checks
      description: Lists all current checks in your account.
      tags:
      - Checks
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecksV1CheckList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
      - schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
          description: Limit the number of results
        required: false
        description: Limit the number of results
        name: limit
        in: query
      - schema:
          type: number
          default: 1
          description: Page number
          exclusiveMinimum: 0
        required: false
        description: Page number
        name: page
        in: query
      - schema:
          type: string
          minLength: 1
          description: Filters the results by a string contained in the URL of an API check, for instance a domain like "www.myapp.com". Only returns API checks.
        required: false
        description: Filters the results by a string contained in the URL of an API check, for instance a domain like "www.myapp.com". Only returns API checks.
        name: apiCheckUrlFilterPattern
        in: query
      - schema:
          type: array
          items:
            type: string
          description: Filters checks by tags. Returns checks that have at least one of the specified tags.
        required: false
        description: Filters checks by tags. Returns checks that have at least one of the specified tags.
        name: tag
        in: query
      - schema:
          type: string
          enum:
          - AGENTIC
          - API
          - BROWSER
          - HEARTBEAT
          - ICMP
          - MULTI_STEP
          - TCP
          - PLAYWRIGHT
          - TRACEROUTE
          - URL
          - DNS
          - SSL
          - GRPC
          description: Filters checks by type. Returns checks that match the specified type.
        required: false
        description: Filters checks by type. Returns checks that match the specified type.
        name: checkType
        in: query
      - schema:
          type: string
          description: Filters checks by name using a case-insensitive partial match.
        required: false
        description: Filters checks by name using a case-insensitive partial match.
        name: search
        in: query
      - schema:
          type: string
          enum:
          - passing
          - failing
          - degraded
          description: Filters checks by current status.
        required: false
        description: Filters checks by current status.
        name: status
        in: query
      - schema:
          type: boolean
          default: false
          description: Checks that belong to a group are returned with group settings applied.
        required: false
        description: Checks that belong to a group are returned with group settings applied.
        name: applyGroupSettings
        in: query
      - schema:
          type: string
          format: uuid
          description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        required: false
        description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        name: x-checkly-account
        in: header
    post:
      summary: Create a check
      operationId: postV1Checks
      description: "<b>[DEPRECATED] This endpoint will be removed soon. Instead use <code>POST /checks/api</code> or  <code>POST /checks/browser</code>.</b> Creates a new API or browser check. Will return a `402` when you are over the limit of your plan.\n    When using the `globalAlertSettings`, the `alertSettings` can be `null`"
      tags:
      - Checks
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecksV1Check'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
      parameters:
      - schema:
          type: boolean
          default: true
          description: Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.
        required: false
        description: Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.
        name: autoAssignAlerts
        in: query
      - schema:
          type: string
          format: uuid
          description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        required: false
        description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        name: x-checkly-account
        in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChecksV1CheckCreate'
  /v1/checks/api:
    post:
      summary: Create an API check
      operationId: postV1ChecksApi
      description: "Creates a new API check. Will return a `402` when you are over the limit of your plan.\n    When using the `globalAlertSetting`, the `alertSetting` can be `null`"
      tags:
      - Checks
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecksV1ApiCheckMutationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
      - schema:
          type: boolean
          default: true
          description: Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.
        required: false
        description: Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.
        name: autoAssignAlerts
        in: query
      - schema:
          type: string
          format: uuid
          description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        required: false
        description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        name: x-checkly-account
        in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChecksV1ApiCheckCreate'
  /v1/checks/api/{id}:
    put:
      summary: Update an API check
      operationId: putV1ChecksApiId
      description: Updates an API check.
      tags:
      - Checks
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecksV1ApiCheckMutationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
      - schema:
          type: string
          minLength: 1
          format: uuid
        required: true
        name: id
        in: path
      - schema:
          type: boolean
          default: true
          description: Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.
        required: false
        description: Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.
        name: autoAssignAlerts
        in: query
      - schema:
          type: string
          format: uuid
          description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        required: false
        description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        name: x-checkly-account
        in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChecksV1ApiCheckUpdate'
  /v1/checks/browser:
    post:
      summary: Create a browser check
      operationId: postV1ChecksBrowser
      description: "Creates a new browser check. Will return a `402` when you are over the limit of your plan.\n    When using the `globalAlertSetting`, the `alertSetting` can be `null`"
      tags:
      - Checks
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecksV1BrowserCheck'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
      - schema:
          type: boolean
          default: true
          description: Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.
        required: false
        description: Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.
        name: autoAssignAlerts
        in: query
      - schema:
          type: string
          format: uuid
          description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        required: false
        description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        name: x-checkly-account
        in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChecksV1BrowserCheckCreate'
  /v1/checks/browser/{id}:
    put:
      summary: Update a browser check
      operationId: putV1ChecksBrowserId
      description: Updates a browser check.
      tags:
      - Checks
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecksV1BrowserCheck'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
      - schema:
          type: string
          minLength: 1
          format: uuid
        required: true
        name: id
        in: path
      - schema:
          type: boolean
          default: true
          description: Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.
        required: false
        description: Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.
        name: autoAssignAlerts
        in: query
      - schema:
          type: string
          format: uuid
          description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        required: false
        description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        name: x-checkly-account
        in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChecksV1BrowserCheckUpdate'
  /v1/checks/dns:
    post:
      summary: Create an DNS monitor
      operationId: postV1ChecksDns
      description: "Creates a new DNS monitor. Will return a `402` when you are over the limit of your plan.\n    When using the `globalAlertSetting`, the `alertSetting` can be `null`"
      tags:
      - Checks
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecksV1DnsMonitorMutationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
      - schema:
          type: boolean
          default: true
          description: Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.
        required: false
        description: Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.
        name: autoAssignAlerts
        in: query
      - schema:
          type: string
          format: uuid
          description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        required: false
        description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        name: x-checkly-account
        in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChecksV1DnsMonitorCreate'
  /v1/checks/multistep:
    post:
      summary: Create a multi-step check
      operationId: postV1ChecksMultistep
      description: "Creates a new Multi-Step check. Will return a `402` when you are over the limit of your plan.\n    When using the `globalAlertSetting`, the `alertSetting` can be `null`"
      tags:
      - Checks
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecksV1MultiStepCheck'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
      - schema:
          type: boolean
          default: true
          description: Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.
        required: false
        description: Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.
        name: autoAssignAlerts
        in: query
      - schema:
          type: string
          format: uuid
          description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        required: false
        description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        name: x-checkly-account
        in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChecksV1MultiStepCheckCreate'
  /v1/checks/multistep/{id}:
    put:
      summary: Update a multi-step check
      operationId: putV1ChecksMultistepId
      description: Updates a Multi-Step check.
      tags:
      - Checks
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecksV1MultiStepCheck'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
      - schema:
          type: string
          minLength: 1
          format: uuid
        required: true
        name: id
        in: path
      - schema:
          type: boolean
          default: true
          description: Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.
        required: false
        description: Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.
        name: autoAssignAlerts
        in: query
      - schema:
          type: string
          format: uuid
          description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        required: false
        description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        name: x-checkly-account
        in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChecksV1MultiStepCheckUpdate'
  /v1/checks/tcp:
    post:
      summary: Create a TCP check
      operationId: postV1ChecksTcp
      description: "Creates a new TCP check. Will return a `402` when you are over the limit of your plan.\n    When using the `globalAlertSetting`, the `alertSetting` can be `null`"
      tags:
      - Checks
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecksV1TcpCheckMutationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
      - schema:
          type: boolean
          default: true
          description: Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.
        required: false
        description: Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.
        name: autoAssignAlerts
        in: query
      - schema:
          type: string
          format: uuid
          description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        required: false
        description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        name: x-checkly-account
        in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChecksV1TcpCheckCreate'
  /v1/checks/tcp/{id}:
    put:
      summary: Update an TCP check
      operationId: putV1ChecksTcpId
      description: Updates an TCP check.
      tags:
      - Checks
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecksV1TcpCheckMutationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
      - schema:
          type: string
          minLength: 1
          format: uuid
        required: true
        name: id
        in: path
      - schema:
          type: boolean
          default: true
          description: Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.
        required: false
        description: Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.
        name: autoAssignAlerts
        in: query
      - schema:
          type: string
          format: uuid
          description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        required: false
        description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        name: x-checkly-account
        in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChecksV1TcpCheckUpdate'
  /v1/checks/{id}:
    delete:
      summary: Delete a check
      operationId: deleteV1ChecksId
      description: Permanently removes a API or browser check and all its related status and results data.
      tags:
      - Checks
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
      - schema:
          type: string
          minLength: 1
          format: uuid
        required: true
        name: id
        in: path
      - schema:
          type: string
          format: uuid
          description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        required: false
        description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        name: x-checkly-account
        in: header
    get:
      summary: Retrieve a check
      operationId: getV1ChecksId
      description: Show details of a specific API or browser check
      tags:
      - Checks
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecksV1Check'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
      - schema:
          type: string
          minLength: 1
          format: uuid
        required: true
        name: id
        in: path
      - schema:
          type: boolean
          description: Include check dependencies in the response
        required: false
        description: Include check dependencies in the response
        name: includeDependencies
        in: query
      - schema:
          type: boolean
          default: false
          description: Checks that belong to a group are returned with group settings applied.
        required: false
        description: Checks that belong to a group are returned with group settings applied.
        name: applyGroupSettings
        in: query
      - schema:
          type: string
          format: uuid
          description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        required: false
        description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        name: x-checkly-account
        in: header
    put:
      summary: Update a check
      operationId: putV1ChecksId
      description: <b>[DEPRECATED] This endpoint will be removed soon. Instead use <code>PUT /checks/api/{id}</code> or  <code>PUT /checks/browser/{id}</code>.</b> Updates a new API or browser check.
      tags:
      - Checks
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecksV1Check'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      deprecated: true
      parameters:
      - schema:
          type: string
          minLength: 1
          format: uuid
        required: true
        name: id
        in: path
      - schema:
          type: boolean
          default: true
          description: Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.
        required: false
        description: Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.
        name: autoAssignAlerts
        in: query
      - schema:
          type: string
          format: uuid
          description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        required: false
        description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        name: x-checkly-account
        in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChecksV1CheckUpdate'
  /v2/checks:
    get:
      summary: List all checks
      operationId: getV2Checks
      description: 'Lists all current checks in your account.


        Unlike `/v1`, this endpoint does not return the flat `project`, `logicalId`, `member` and `pending` fields. A check can be managed by more than one project and each of those fields can name only one of them; `projectBindings` reports every binding, and is identical on `/v1` and `/v2`.


        Versioning is per endpoint. Only endpoints whose response or payload changed have a `/v2`; everything else remains on `/v1` and is unaffected. In particular the check groups themselves, and creating, updating and deleting checks, are unchanged and stay on `/v1`.'
      tags:
      - Checks
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecksV2CheckList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
      - schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
          description: Limit the number of results
        required: false
        description: Limit the number of results
        name: limit
        in: query
      - schema:
          type: number
          default: 1
          description: Page number
          exclusiveMinimum: 0
        required: false
        description: Page number
        name: page
        in: query
      - schema:
          type: string
          minLength: 1
          description: Filters the results by a string contained in the URL of an API check, for instance a domain like "www.myapp.com". Only returns API checks.
        required: false
        description: Filters the results by a string contained in the URL of an API check, for instance a domain like "www.myapp.com". Only returns API checks.
        name: apiCheckUrlFilterPattern
        in: query
      - schema:
          type: array
          items:
            type: string
          description: Filters checks by tags. Returns checks that have at least one of the specified tags.
        required: false
        description: Filters checks by tags. Returns checks that have at least one of the specified tags.
        name: tag
        in: query
      - schema:
          type: string
          enum:
          - AGENTIC
          - API
          - BROWSER
          - HEARTBEAT
          - ICMP
          - MULTI_STEP
          - TCP
          - PLAYWRIGHT
          - TRACEROUTE
          - URL
          - DNS
          - SSL
          - GRPC
          description: Filters checks by type. Returns checks that match the specified type.
        required: false
        description: Filters checks by type. Returns checks that match the specified type.
        name: checkType
        in: query
      - schema:
          type: string
          description: Filters checks by name using a case-insensitive partial match.
        required: false
        description: Filters checks by name using a case-insensitive partial match.
        name: search
        in: query
      - schema:
          type: string
          enum:
          - passing
          - failing
          - degraded
          description: Filters checks by current status.
        required: false
        description: Filters checks by current status.
        name: status
        in: query
      - schema:
          type: boolean
          default: false
          description: Checks that belong to a group are returned with group settings applied.
        required: false
        description: Checks that belong to a group are returned with group settings applied.
        name: applyGroupSettings
        in: query
      - schema:
          type: string
          format: uuid
          description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        required: false
        description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        name: x-checkly-account
        in: header
  /v2/checks/{id}:
    get:
      summary: Retrieve a check
      operationId: getV2ChecksId
      description: 'Show details of a specific API or browser check.


        Unlike `/v1`, this endpoint does not return the flat `project`, `logicalId`, `member` and `pending` fields. A check can be managed by more than one project and each of those fields can name only one of them; `projectBindings` reports every binding, and is identical on `/v1` and `/v2`.


        Versioning is per endpoint. Only endpoints whose response or payload changed have a `/v2`; everything else remains on `/v1` and is unaffected. In particular the check groups themselves, and creating, updating and deleting checks, are unchanged and stay on `/v1`.'
      tags:
      - Checks
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecksV2Check'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
      - schema:
          type: string
          minLength: 1
          format: uuid
        required: true
        name: id
        in: path
      - schema:
          type: boolean
          description: Include check dependencies in the response
        required: false
        description: Include check dependencies in the response
        name: includeDependencies
        in: query
      - schema:
          type: boolean
          default: false
          description: Checks that belong to a group are returned with group settings applied.
        required: false
        description: Checks that belong to a group are returned with group settings applied.
        name: applyGroupSettings
        in: query
      - schema:
          type: string
          format: uuid
          description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        required: false
        description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        name: x-checkly-account
        in: header
  /v3/checks:
    get:
      summary: List all checks
      operationId: getV3Checks
      description: 'Lists all current checks in your account.


        This `/v3` read returns check intent as a `constraints` array with typed `REQUIRED_OUTCOME` and `MUST_PRESERVE` entries. `/v1` and `/v2` keep the legacy `requiredOutcomes` and `mustPreserve` arrays. Like `/v2`, `/v3` does not return the flat `project`, `logicalId`, `member` and `pending` fields; use `projectBindings` for the complete project ownership state. Creating, updating and deleting checks remain on `/v1`.'
      tags:
      - Checks
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecksV3CheckList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
      - schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
          description: Limit the number of results
        required: false
        description: Limit the number of results
        name: limit
        in: query
      - schema:
          type: number
          default: 1
          description: Page number
          exclusiveMinimum: 0
        required: false
        description: Page number
        name: page
        in: query
      - schema:
          type: string
          minLength: 1
          description: Filters the results by a string contained in the URL of an API check, for instance a domain like "www.myapp.com". Only returns API checks.
        required: false
        description: Filters the results by a string contained in the URL of an API check, for instance a domain like "www.myapp.com". Only returns API checks.
        name: apiCheckUrlFilterPattern
        in: query
      - schema:
          type: array
          items:
            type: string
          description: Filters checks by tags. Returns checks that have at least one of the specified tags.
        required: false
        description: Filters checks by tags. Returns checks that have at least one of the specified tags.
        name: tag
        in: query
      - schema:
          type: string
          enum:
          - AGENTIC
          - API
          - BROWSER
          - HEARTBEAT
          - ICMP
          - MULTI_STEP
          - TCP
          - PLAYWRIGHT
          - TRACEROUTE
          - URL
          - DNS
          - SSL
          - GRPC
          description: Filters checks by type. Returns checks that match the specified type.
        required: false
        description: Filters checks by type. Returns checks that match the specified type.
        name: checkType
        in: query
      - schema:
          type: string
          description: Filters checks by name using a case-insensitive partial match.
        required: false
        description: Filters checks by name using a case-insensitive partial match.
        name: search
        in: query
      - schema:
          type: string
          enum:
          - passing
          - failing
          - degraded
          description: Filters checks by current status.
        required: false
        description: Filters checks by current status.
        name: status
        in: query
      - schema:
          type: boolean
          default: false
          description: Checks that belong to a group are returned with group settings applied.
        required: false
        description: Checks that belong to a group are returned with group settings applied.
        name: applyGroupSettings
        in: query
      - schema:
          type: string
          format: uuid
          description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        required: false
        description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        name: x-checkly-account
        in: header
  /v3/checks/{id}:
    get:
      summary: Retrieve a check
      operationId: getV3ChecksId
      description: 'Show details of a specific API or browser check.


        This `/v3` read returns check intent as a `constraints` array with typed `REQUIRED_OUTCOME` and `MUST_PRESERVE` entries. `/v1` and `/v2` keep the legacy `requiredOutcomes` and `mustPreserve` arrays. Like `/v2`, `/v3` does not return the flat `project`, `logicalId`, `member` and `pending` fields; use `projectBindings` for the complete project ownership state. Creating, updating and deleting checks remain on `/v1`.'
      tags:
      - Checks
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChecksV3Check'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      parameters:
      - schema:
          type: string
          minLength: 1
          format: uuid
        required: true
        name: id
        in: path
      - schema:
          type: boolean
          description: Include check dependencies in the response
        required: false
        description: Include check dependencies in the response
        name: includeDependencies
        in: query
      - schema:
          type: boolean
          default: false
          description: Checks that belong to a group are returned with group settings applied.
        required: false
        description: Checks that belong to a group are returned with group settings applied.
        name: applyGroupSettings
        in: query
      - schema:
          type: string
          format: uuid
          description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        required: false
        description: Your Checkly account ID, you can find it at https://app.checklyhq.com/settings/account/general
        name: x-checkly-account
        in: header
components:
  schemas:
    ChecksV1IcmpRequestPatch:
      type: object
      properties:
        hostname:
          type: string
          minLength: 1
          maxLength: 2048
        ipFamily:
          type:
          - string
          - 'null'
          enum:
          - IPv4
          - IPv6
          - null
        pingCount:
          type:
          - integer
          - 'null'
          minimum: 1
          maximum: 50
        assertions:
          type: array
          items:
            $ref: '#/components/schemas/ChecksV1IcmpAssertionPatch'
      required:
      - hostname
    ChecksV1KeyValuePatch:
      type: object
      properties:
        key:
          type: string
          minLength: 1
        value:
          type: string
        locked:
          type: boolean
      required:
      - key
      - value
    ChecksV1CheckIntent:
      type:
      - object
      - 'null'
      properties:
        goal:
          type: string
          minLength: 1
          maxLength: 2000
          description: The user or system outcome this check protects.
        requiredOutcomes:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 1000
          maxItems: 20
          default: []
          description: Observable outcomes the check must continue to prove.
        mustPreserve:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 1000
          maxItems: 20
          default: []
          description: Guardrails an AI repair must not weaken or bypass.
      required:
      - goal
      additionalProperties: false
    ChecksV2TracerouteMonitor:
      type: object
      properties:
        name:
          type: string
          minLength: 1
        activated:
          type: boolean
          default: true
        muted:
          type: boolean
          default: false
        doubleCheck:
          type: boolean
          default: true
        shouldFail:
          type: boolean
          default: false
        locations:
          type:
          - array
          - 'null'
          items:
            type: string
            enum:
            - us-east-1
            - us-east-2
            - us-west-1
            - us-west-2
            - ca-central-1
            - sa-east-1
            - eu-west-1
            - eu-central-1
            - eu-west-2
            - eu-west-3
            - eu-north-1
            - eu-south-1
            - me-south-1
            - ap-southeast-1
            - ap-northeast-1
            - ap-east-1
            - ap-southeast-2
            - ap-southeast-3
            - ap-northeast-2
            - ap-northeast-3
            - ap-south-1
            - af-south-1
          default: []
        tags:
          type: array
          items:
            type: string
            minLength: 1
          default: []
        alertSettings:
          $ref: '#/components/schemas/ChecksV1AlertSettings'
        useGlobalAlertSettings:
          type: boolean
          default: true
        groupId:
          type:
          - number
          - 'null'
          default: null
        groupOrder:
          type:
          - number
          - 'null'
          minimum: 0
          default: null
        runtimeId:
          type:
          - string
          - 'null'
          enum:
          - '2026.04'
          - '2025.04'
          - '2024.09'
          - '2024.02'
          - '2023.09'
          - '2023.02'
          - '2022.10'
          - null
          default: null
        alertChannelSubscriptions:
          type: array
          items:
            $ref: '#/components/schemas/ChecksV1AlertChannelSubscription'
        retryStrategy:
          $ref: '#/components/schemas/ChecksV1RetryStrategy'
        triggerIncident:
          $ref: '#/components/schemas/ChecksV1TriggerIncident'
        runParallel:
          type: boolean
          default: false
        description:
          type:
          - string
          - 'null'
          maxLength: 500
          default: null
        intent:
          type:
          - object
          - 'null'
          properties:
            goal:
              type: string
              minLength: 1
              maxLength: 2000
              description: The user or system outcome this check protects.
            requiredOutcomes:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 1000
              maxItems: 20
              default: []
              description: Observable outcomes the check must continue to prove.
            mustPreserve:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 1000
              maxItems: 20
              default: []
              description: Guardrails an AI repair must not weaken or bypass.
          default: null
          required:
          - goal
          additionalProperties: false
        aiAutoRepairEnabled:
          type:
          - boolean
          - 'null'
          default: null
        id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
        alertChannels:
          $ref: '#/components/schemas/ChecksV1AlertChannels'
        projectBindings:
          $ref: '#/components/schemas/ProjectBindingsV1'
        privateLocations:
          type:
          - array
          - 'null'
          items:
            type: string
            minLength: 1
        frequency:
          type: integer
          enum:
          - 0
          - 1
          - 2
          - 5
          - 10
          - 15
          - 30
          - 60
          - 120
          - 180
          - 360
          - 720
          - 1440
          default: 10
        frequencyOffset:
          type: integer
          minimum: 1
        degradedResponseTime:
          type:
          - number
          - 'null'
        maxResponseTime:
          type:
          - number
          - 'null'
        checkType:
          type: string
          enum:
          - TRACEROUTE
        request:
          $ref: '#/components/schemas/ChecksV1TracerouteRequestRead'
      required:
      - name
    ChecksV1ApiAssertion:
      type: object
      properties:
        source:
          type: string
          enum:
          - STATUS_CODE
          - JSON_BODY
          - HEADERS
          - TEXT_BODY
          - RESPONSE_TIME
        comparison:
          type: string
          enum:
          - EQUALS
          - NOT_EQUALS
          - HAS_KEY
          - NOT_HAS_KEY
          - HAS_VALUE
          - NOT_HAS_VALUE
          - IS_EMPTY
          - NOT_EMPTY
          - GREATER_THAN
          - LESS_THAN
          - CONTAINS
          - NOT_CONTAINS
          - IS_NULL
          - NOT_NULL
        property:
          type: string
          default: ''
        target:
          type: string
          default: ''
        regex:
          type:
          - string
          - 'null'
          default: ''
    ChecksV2SslMonitor:
      type: object
      properties:
        name:
          type: string
          minLength: 1
        activated:
          type: boolean
          default: true
        muted:
          type: boolean
          default: false
        doubleCheck:
          type: boolean
          default: true
        shouldFail:
          type: boolean
          default: false
        locations:
          type:
          - array
          - 'null'
          items:
            type: string
            enum:
            - us-east-1
            - us-east-2
            - us-west-1
            - us-west-2
            - ca-central-1
            - sa-east-1
            - eu-west-1
            - eu-central-1
            - eu-west-2
            - eu-west-3
            - eu-north-1
            - eu-south-1
            - me-south-1
            - ap-southeast-1
            - ap-northeast-1
            - ap-east-1
            - ap-southeast-2
            - ap-southeast-3
            - ap-northeast-2
            - ap-northeast-3
            - ap-south-1
            - af-south-1
          default: []
        tags:
          type: array
          items:
            type: string
            minLength: 1
          default: []
        alertSettings:
          $ref: '#/components/schemas/ChecksV1AlertSettings'
        useGlobalAlertSettings:
          type: boolean
          default: true
        groupId:
          type:
          - number
          - 'null'
          default: null
        groupOrder:
          type:
          - number
          - 'null'
          minimum: 0
          default: null
        runtimeId:
          type:
          - string
          - 'null'
          enum:
          - '2026.04'
          - '2025.04'
          - '2024.09'
          - '2024.02'
          - '2023.09'
          - '2023.02'
          - '2022.10'
          - null
          default: null
        alertChannelSubscriptions:
          type: array
          items:
            $ref: '#/components/schemas/ChecksV1AlertChannelSubscription'
        retryStrategy:
          $ref: '#/components/schemas/ChecksV1RetryStrategy'
        triggerIncident:
          $ref: '#/components/schemas/ChecksV1TriggerIncident'
        runParallel:
          type: boolean
          default: false
        description:
          type:
          - string
          - 'null'
          maxLength: 500
          default: null
        intent:
          type:
          - object
          - 'null'
          properties:
            goal:
              type: string
              minLength: 1
              maxLength: 2000
              description: The user or system outcome this check protects.
            requiredOutcomes:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 1000
              maxItems: 20
              default: []
              description: Observable outcomes the check must continue to prove.
            mustPreserve:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 1000
              maxItems: 20
              default: []
              description: Guardrails an AI repair must not weaken or bypass.
          default: null
          required:
          - goal
          additionalProperties: false
        aiAutoRepairEnabled:
          type:
          - boolean
          - 'null'
          default: null
        id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
        alertChannels:
          $ref: '#/components/schemas/ChecksV1AlertChannels'
        projectBindings:
          $ref: '#/components/schemas/ProjectBindingsV1'
        privateLocations:
          type:
          - array
          - 'null'
          items:
            type: string
            minLength: 1
        frequency:
          type: integer
          enum:
          - 0
          - 1
          - 2
          - 5
          - 10
          - 15
          - 30
          - 60
          - 120
          - 180
          - 360
          - 720
          - 1440
          default: 10
        frequencyOffset:
          type: integer
          minimum: 1
        degradedResponseTime:
          type:
          - number
          - 'null'
        maxResponseTime:
          type:
          - number
          - 'null'
        checkType:
          type: string
          enum:
          - SSL
        request:
          $ref: '#/components/schemas/ChecksV1SslRequestRead'
      required:
      - name
    ChecksV1DnsRequest:
      type: object
      properties:
        query:
          type: string
          minLength: 1
          maxLength: 100
        nameServer:
          type: string
          maxLength: 100
        port:
          type: number
        recordType:
          type: string
          enum:
          - A
          - AAAA
          - CNAME
          - MX
          - TXT
          - SOA
          - NS
          - HTTPS
        assertions:
          type: array
          items:
            $ref: '#/components/schemas/ChecksV1DnsAssertion'
          default: []
        protocol:
          type: string
          enum:
          - TCP
          - UDP
          default: UDP
      required:
      - query
      - recordType
    ChecksV3CheckIntent:
      type:
      - object
      - 'null'
      properties:
        goal:
          type: string
          minLength: 1
          maxLength: 2000
          description: The user or system outcome this check protects.
        constraints:
          type: array
          items:
            $ref: '#/components/schemas/ChecksV3CheckIntentConstraint'
          maxItems: 40
          default: []
          description: Typed check requirements. At most 20 constraints of each type are allowed.
      default: null
      required:
      - goal
      additionalProperties: false
    ChecksV1DnsMonitorCreate:
      type: object
      properties:
        name:
          type: string
          minLength: 1
        activated:
          type: boolean
          default: true
        muted:
          type: boolean
          default: false
        doubleCheck:
          type: boolean
          default: true
        shouldFail:
          type: boolean
          default: false
        locations:
          type:
          - array
          - 'null'
          items:
            type: string
            enum:
            - us-east-1
            - us-east-2
            - us-west-1
            - us-west-2
            - ca-central-1
            - sa-east-1
            - eu-west-1
            - eu-central-1
            - eu-west-2
            - eu-west-3
            - eu-north-1
            - eu-south-1
            - me-south-1
            - ap-southeast-1
            - ap-northeast-1
            - ap-east-1
            - ap-southeast-2
            - ap-southeast-3
            - ap-northeast-2
            - ap-northeast-3
            - ap-south-1
            - af-south-1
          default: []
        tags:
          type: array
          items:
            type: string
            minLength: 1
          default: []
        alertSettings:
          $ref: '#/components/schemas/ChecksV1AlertSettingsCreate'
        useGlobalAlertSettings:
          type: boolean
          default: true
        groupId:
          type:
          - number
          - 'null'
          default: null
        groupOrder:
          type:
          - number
          - 'null'
          minimum: 0
          default: null
        runtimeId:
          type:
          - string
          - 'null'
          enum:
          - '2026.04'
          - '2025.04'
          - '2024.09'
          - '2024.02'
          - '2023.09'
          - '2023.02'
          - '2022.10'
          - null
          default: null
        alertChannelSubscriptions:
          type: array
          items:
            $ref: '#/components/schemas/ChecksV1AlertChannelSubscription'
        retryStrategy:
          type:
          - object
          - 'null'
          properties:
            type:
              type: string
              enum:
              - FIXED
              - LINEAR
              - EXPONENTIAL
              - SINGLE_RETRY
            baseBackoffSeconds:
              type: number
              default: 60
            sameRegion:
              type: boolean
              default: true
            maxRetries:
              type: number
              minimum: 1
              maximum: 10
            maxDurationSeconds:
              type: number
              minimum: 0
              maximum: 600
            onlyOn:
              type: array
              items:
                type: string
                enum:
                - NETWORK_ERROR
          required:
          - type
          additionalProperties: false
        triggerIncident:
          type:
          - object
          - 'null'
          properties:
            serviceId:
              type: string
              minLength: 1
              format: uuid
            severity:
              type: string
              enum:
              - CRITICAL
              - MAJOR
              - MEDIUM
              - MINOR
            name:
              type: string
            description:
              type: string
            notifySubscribers:
              type: boolean
          required:
          - serviceId
          - severity
          - name
          - description
          - notifySubscribers
          additionalProperties: false
        runParallel:
          type: boolean
          default: false
        description:
          type:
          - string
          - 'null'
          maxLength: 510
          default: null
        intent:
          type:
          - object
          - 'null'
          properties:
            goal:
              type: string
              minLength: 1
              maxLength: 2000
              description: The user or system outcome this check protects.
            requiredOutcomes:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 1000
              maxItems: 20
              default: []
              description: Observable outcomes the check must continue to prove.
            mustPreserve:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 1000
              maxItems: 20
              default: []
              description: Guardrails an AI repair must not weaken or bypass.
          default: null
          required:
          - goal
          additionalProperties: false
        aiAutoRepairEnabled:
          type:
          - boolean
          - 'null'
          default: null
        checkType:
          type: string
          enum:
          - DNS
          default: DNS
        frequency:
          type: integer
          enum:
          - 0
          - 1
          - 2
          - 5
          - 10
          - 15
          - 30
          - 60
          - 120
          - 180
          - 360
          - 720
          - 1440
          default: 10
        frequencyOffset:
          type: integer
          minimum: 1
        heartbeat:
          type:
          - object
          - 'null'
          properties: {}
          additionalProperties: {}
        script:
          type:
          - string
          - 'null'
        scriptPath:
          type:
          - string
          - 'null'
          minLength: 1
        sslCheckDomain:
          type:
          - string
          - 'null'
        environmentVariables:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ChecksV1EnvironmentVariable'
          maxItems: 200
        setupSnippetId:
          type:
          - number
          - 'null'
          default: null
        tearDownSnippetId:
          type:
          - number
          - 'null'
          default: null
        localSetupScript:
          type:
          - string
          - 'null'
          default: null
        localTearDownScript:
          type:
          - string
          - 'null'
          default: null
        request:
          $ref: '#/components/schemas/ChecksV1DnsRequest'
        degradedResponseTime:
          type:
          - number
          - 'null'
          minimum: 0
          maximum: 5000
          default: 500
        maxResponseTime:
          type:
          - number
          - 'null'
          minimum: 0
          maximum: 5000
          default: 1000
        privateLocations:
          type:
          - array
          - 'null'
          items:
            type: string
            minLength: 1
      required:
      - name
      - request
      additionalProperties: false
    ChecksV1SslMonitor:
      type: object
      properties:
        name:
          type: string
          minLength: 1
        activated:
          type: boolean
          default: true
        muted:
          type: boolean
          default: false
        doubleCheck:
          type: boolean
          default: true
        shouldFail:
          type: boolean
          default: false
        locations:
          type:
          - array
          - 'null'
          items:
            type: string
            enum:
            - us-east-1
            - us-east-2
            - us-west-1
            - us-west-2
            - ca-central-1
            - sa-east-1
            - eu-west-1
            - eu-central-1
            - eu-west-2
            - eu-west-3
            - eu-north-1
            - eu-south-1
            - me-south-1
            - ap-southeast-1
            - ap-northeast-1
            - ap-east-1
            - ap-southeast-2
            - ap-southeast-3
            - ap-northeast-2
            - ap-northeast-3
            - ap-south-1
            - af-south-1
          default: []
        tags:
          type: array
          items:
            type: string
            minLength: 1
          default: []
        alertSettings:
          $ref: '#/components/schemas/ChecksV1AlertSettings'
        useGlobalAlertSettings:
          type: boolean
          default: true
        groupId:
          type:
          - number
          - 'null'
          default: null
        groupOrder:
          type:
          - number
          - 'null'
          minimum: 0
          default: null
        runtimeId:
          type:
          - string
          - 'null'
          enum:
          - '2026.04'
          - '2025.04'
          - '2024.09'
          - '2024.02'
          - '2023.09'
          - '2023.02'
          - '2022.10'
          - null
          default: null
        alertChannelSubscriptions:
          type: array
          items:
            $ref: '#/components/schemas/ChecksV1AlertChannelSubscription'
        retryStrategy:
          $ref: '#/components/schemas/ChecksV1RetryStrategy'
        triggerIncident:
          $ref: '#/components/schemas/ChecksV1TriggerIncident'
        runParallel:
          type: boolean
          default: false
        description:
          type:
          - string
          - 'null'
          maxLength: 500
          default: null
        intent:
          type:
          - object
          - 'null'
          properties:
            goal:
              type: string
              minLength: 1
              maxLength: 2000
              description: The user or system outcome this check protects.
            requiredOutcomes:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 1000
              maxItems: 20
              default: []
              description: Observable outcomes the check must continue to prove.
            mustPreserve:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 1000
              maxItems: 20
              default: []
              description: Guardrails an AI repair must not weaken or bypass.
          default: null
          required:
          - goal
          additionalProperties: false
        aiAutoRepairEnabled:
          type:
          - boolean
          - 'null'
          default: null
        id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
        alertChannels:
          $ref: '#/components/schemas/ChecksV1AlertChannels'
        project:
          $ref: '#/components/schemas/ChecksV1CheckProject'
        logicalId:
          type:
          - string
          - 'null'
          description: The check's logical ID within the managing project, or null when it is not managed by code.
        member:
          type:
          - boolean
          - 'null'
          description: 'True when the project owns this check, false when it merely references a check owned outside the project. Null when not managed by code. The same relationship appears structurally in `projectBindings`: an owning project under `projectBindings.owner`, a referencing one under `projectBindings.references`.'
        pending:
          type:
          - boolean
          - 'null'
          description: True when the binding is reserved by an import plan that has not been deployed yet. Null when not managed by code.
        projectBindings:
          $ref: '#/components/schemas/ProjectBindingsV1'
        privateLocations:
          type:
          - array
          - 'null'
          items:
            type: string
            minLength: 1
        frequency:
          type: integer
          enum:
          - 0
          - 1
          - 2
          - 5
          - 10
          - 15
          - 30
          - 60
          - 120
          - 180
          - 360
          - 720
          - 1440
          default: 10
        frequencyOffset:
          type: integer
          minimum: 1
        degradedResponseTime:
          type:
          - number
          - 'null'
        maxResponseTime:
          type:
          - number
          - 'null'
        checkType:
          type: string
          enum:
          - SSL
        request:
          $ref: '#/components/schemas/ChecksV1SslRequestRead'
      required:
      - name
    ChecksV1DnsAssertion:
      type: object
      properties:
        source:
          type: string
          enum:
          - RESPONSE_TIME
          - RESPONSE_CODE
          - TEXT_ANSWER
          - JSON_ANSWER
        comparison:
          type: string
          enum:
          - EQUALS
          - NOT_EQUALS
          - HAS_KEY
          - NOT_HAS_KEY
          - HAS_VALUE
          - NOT_HAS_VALUE
          - IS_EMPTY
          - NOT_EMPTY
          - GREATER_THAN
          - LESS_THAN
          - CONTAINS
          - NOT_CONTAINS
          - IS_NULL
          - NOT_NULL
        property:
          type: string
          default: ''
        target:
          type: string
          default: ''
        regex:
          type:
          - string
          - 'null'
          default: ''
    ChecksV1AlertSettingsCreate:
      type: object
      properties:
        escalationType:
          type: string
          enum:
          - RUN_BASED
          - TIME_BASED
          default: RUN_BASED
        reminders:
          type: object
          properties:
            amount:
              type: integer
              enum:
              - 0
              - 1
              - 2
              - 3
              - 4
              - 5
              - 100000
              default: 0
            interval:
              type: integer
              enum:
              - 1
              - 2
              - 3
              - 4
              - 5
              - 10
              - 15
              - 30
              default: 5
        sslCertificates:
          type: object
          properties:
            enabled:
              type: boolean
            alertThreshold:
              type: integer
        runBasedEscalation:
          $ref: '#/components/schemas/ChecksV1AlertSettingsRunBasedEscalation'
        timeBasedEscalation:
          $ref: '#/components/schemas/ChecksV1AlertSettingsTimeBasedEscalation'
        parallelRunFailureThreshold:
          type: object
          properties:
            enabled:
              type: boolean
              default: false
            percentage:
              type: integer
              enum:
              - 10
              - 20
              - 30
              - 40
              - 50
              - 60
              - 70
              - 80
              - 90
              - 100
              default: 10
      default:
        escalationType: RUN_BASED
        runBasedEscalation:
          failedRunThreshold: 1
        reminders:
          amount: 0
          interval: 5
        parallelRunFailureThreshold:
          enabled: false
          percentage: 10
    ApiError:
      type: object
      properties:
        statusCode:
          type: number
        error:
          type: string
        message:
          type: string
      required:
      - statusCode
      - error
      - message
    ChecksV2MultiStepCheck:
      type: object
      properties:
        name:
          type: string
          minLength: 1
        activated:
          type: boolean
          default: true
        muted:
          type: boolean
          default: false
        doubleCheck:
          type: boolean
          default: true
        shouldFail:
          type: boolean
          default: false
        locations:
          type:
          - array
          - 'null'
          items:
            type: string
            enum:
            - us-east-1
            - us-east-2
            - us-west-1
            - us-west-2
            - ca-central-1
            - sa-east-1
            - eu-west-1
            - eu-central-1
            - eu-west-2
            - eu-west-3
            - eu-north-1
            - eu-south-1
            - me-south-1
            - ap-southeast-1
            - ap-northeast-1
            - ap-east-1
            - ap-southeast-2
            - ap-southeast-3
            - ap-northeast-2
            - ap-northeast-3
            - ap-south-1
            - af-south-1
          default: []
        tags:
          type: array
          items:
            type: string
            minLength: 1
          default: []
        alertSettings:
          $ref: '#/components/schemas/ChecksV1AlertSettings'
        useGlobalAlertSettings:
          type: boolean
          default: true
        groupId:
          type:
          - number
          - 'null'
          default: null
        groupOrder:
          type:
          - number
          - 'null'
          minimum: 0
          default: null
        runtimeId:
          type:
          - string
          - 'null'
          enum:
          - '2026.04'
          - '2025.04'
          - '2024.09'
          - '2024.02'
          - '2023.09'
          - '2023.02'
          - '2022.10'
          - null
          default: null
        alertChannelSubscriptions:
          type: array
          items:
            $ref: '#/components/schemas/ChecksV1AlertChannelSubscription'
        retryStrategy:
          $ref: '#/components/schemas/ChecksV1RetryStrategy'
        triggerIncident:
          $ref: '#/components/schemas/ChecksV1TriggerIncident'
        runParallel:
          type: boolean
          default: false
        description:
          type:
          - string
          - 'null'
          maxLength: 500
          default: null
        intent:
          type:
          - object
          - 'null'
          properties:
            goal:
              type: string
              minLength: 1
              maxLength: 2000
              description: The user or system outcome this check protects.
            requiredOutcomes:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 1000
              maxItems: 20
              default: []
              description: Observable outcomes the check must continue to prove.
            mustPreserve:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 1000
              maxItems: 20
              default: []
              description: Guardrails an AI repair must not weaken or bypass.
          default: null
          required:
          - goal
          additionalProperties: false
        aiAutoRepairEnabled:
          type:
          - boolean
          - 'null'
          default: null
        id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
        alertChannels:
          $ref: '#/components/schemas/ChecksV1AlertChannels'
        projectBindings:
          $ref: '#/components/schemas/ProjectBindingsV1'
        privateLocations:
          type:
          - array
          - 'null'
          items:
            type: string
            minLength: 1
        checkType:
          type: string
          enum:
          - MULTI_STEP
        frequency:
          type: integer
          enum:
          - 1
          - 2
          - 5
          - 10
          - 15
          - 30
          - 60
          - 120
          - 180
          - 360
          - 720
          - 1440
          default: 10
        script:
          type:
          - string
          - 'null'
        environmentVariables:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ChecksV1EnvironmentVariable'
          maxItems: 200
      required:
      - name
      - script
    ChecksV1DnsMonitorMutationResponse:
      type: object
      properties:
        name:
          type: string
          minLength: 1
        activated:
          type: boolean
          default: true
        muted:
          type: boolean
          default: false
        doubleCheck:
          type: boolean
          default: true
        shouldFail:
          type: boolean
          default: false
        locations:
          type:
          - array
          - 'null'
          items:
            type: string
            enum:
            - us-east-1
            - us-east-2
            - us-west-1
            - us-west-2
            - ca-central-1
            - sa-east-1
            - eu-west-1
            - eu-central-1
            - eu-west-2
            - eu-west-3
            - eu-north-1
            - eu-south-1
            - me-south-1
            - ap-southeast-1
            - ap-northeast-1
            - ap-east-1
            - ap-southeast-2
            - ap-southeast-3
            - ap-northeast-2
            - ap-northeast-3
            - ap-south-1
            - af-south-1
          default: []
        tags:
          type: array
          items:
            type: string
            minLength: 1
          default: []
        alertSettings:
          $ref: '#/components/schemas/ChecksV1AlertSettings'
        useGlobalAlertSettings:
          type: boolean
          default: true
        groupId:
          type:
          - number
          - 'null'
          default: null
        groupOrder:
          type:
          - number
          - 'null'
          minimum: 0
          default: null
        runtimeId:
          type:
          - string
          - 'null'
          enum:
          - '2026.04'
          - '2025.04'
          - '2024.09'
          - '2024.02'
          - '2023.09'
          - '2023.02'
          - '2022.10'
          - null
          default: null
        alertChannelSubscriptions:
          type: array
          items:
            $ref: '#/components/schemas/ChecksV1AlertChannelSubscription'
        retryStrategy:
          $ref: '#/components/schemas/ChecksV1RetryStrategy'
        triggerIncident:
          $ref: '#/components/schemas/ChecksV1TriggerIncident'
        runParallel:
          type: boolean
          default: false
        description:
          type:
          - string
          - 'null'
          maxLength: 500
          default: null
        intent:
          type:
          - object
          - 'null'
          properties:
            goal:
              type: string
              minLength: 1
              maxLength: 2000
              description: The user or system outcome this check protects.
            requiredOutcomes:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 1000
              maxItems: 20
              default: []
              description: Observable outcomes the check must continue to prove.
            mustPreserve:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 1000
              maxItems: 20
              default: []
              description: Guardrails an AI repair must not weaken or bypass.
          default: null
          required:
          - goal
          additionalProperties: false
        aiAutoRepairEnabled:
          type:
          - boolean
          - 'null'
          default: null
        id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
        alertChannels:
          $ref: '#/components/schemas/ChecksV1AlertChannels'
        privateLocations:
          type:
          - array
          - 'null'
          items:
            type: string
            minLength: 1
        frequency:
          type: integer
          enum:
          - 0
          - 1
          - 2
          - 5
          - 10
          - 15
          - 30
          - 60
          - 120
          - 180
          - 360
          - 720
          - 1440
          default: 10
        frequencyOffset:
          type: integer
          minimum: 1
        degradedResponseTime:
          type:
          - number
          - 'null'
        maxResponseTime:
          type:
          - number
          - 'null'
        checkType:
          type: string
          enum:
          - DNS
        request:
          $ref: '#/components/schemas/ChecksV1DnsRequest'
      required:
      - name
    ChecksV1AlertSms:
      type: object
      properties:
        number:
          type: string
          minLength: 1
          default: ''
        name:
          type: string
      required:
      - name
    ChecksV1Check:
      anyOf:
      - $ref: '#/components/schemas/ChecksV1HeartbeatCheck'
      - $ref: '#/components/schemas/ChecksV1PlaywrightCheck'
      - $ref: '#/components/schemas/ChecksV1IcmpMonitor'
      - $ref: '#/components/schemas/ChecksV1TracerouteMonitor'
      - $ref: '#/components/schemas/ChecksV1GrpcMonitor'
      - $ref: '#/components/schemas/ChecksV1SslMonitor'
      - $ref: '#/components/schemas/ChecksV1ApiCheck'
      - $ref: '#/components/schemas/ChecksV1TcpCheck'
      - $ref: '#/components/schemas/ChecksV1UrlMonitor'
      - $ref: '#/components/schemas/ChecksV1DnsMonitor'
      - $ref: '#/components/schemas/ChecksV1BrowserCheck'
      - $ref: '#/components/schemas/ChecksV1MultiStepCheck'
      - $ref: '#/components/schemas/ChecksV1GenericCheck'
    ChecksV1MultiStepCheckCreate:
      type: object
      properties:
        name:
          type: string
          minLength: 1
        activated:
          type: boolean
          default: true
        muted:
          type: boolean
          default: false
        doubleCheck:
          type: boolean
          default: true
        shouldFail:
          type: boolean
          default: false
        locations:
          type:
          - array
          - 'null'
          items:
            type: string
            enum:
            - us-east-1
            - us-east-2
            - us-west-1
            - us-west-2
            - ca-central-1
            - sa-east-1
            - eu-west-1
            - eu-central-1
            - eu-west-2
            - eu-west-3
            - eu-north-1
            - eu-south-1
            - me-south-1
            - ap-southeast-1
            - ap-northeast-1
            - ap-east-1
            - ap-southeast-2
            - ap-southeast-3
            - ap-northeast-2
            - ap-northeast-3
            - ap-south-1
            - af-south-1
          default: []
        tags:
          type: array
          items:
            type: string
            minLength: 1
          default: []
        alertSettings:
          $ref: '#/components/schemas/ChecksV1AlertSettingsCreate'
        useGlobalAlertSettings:
          type: boolean
          default: true
        groupId:
          type:
          - number
          - 'null'
          default: null
        groupOrder:
          type:
          - number
          - 'null'
          minimum: 0
          default: null
        runtimeId:
          type:
          - string
          - 'null'
          enum:
          - '2026.04'
          - '2025.04'
          - '2024.09'
          - '2024.02'
          - '2023.09'
          - '2023.02'
          - '2022.10'
          - null
          default: null
        alertChannelSubscriptions:
          type: array
          items:
            $ref: '#/components/schemas/ChecksV1AlertChannelSubscription'
        retryStrategy:
          $ref: '#/components/schemas/ChecksV1RetryStrategy'
        triggerIncident:
          $ref: '#/components/schemas/ChecksV1TriggerIncident'
        runParallel:
          type: boolean
          default: false
        description:
          type:
          - string
          - 'null'
          maxLength: 510
          default: null
        intent:
          type:
          - object
          - 'null'
          properties:
            goal:
              type: string
              minLength: 1
              maxLength: 2000
              description: The user or system outcome this check protects.
            requiredOutcomes:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 1000
              maxItems: 20
              default: []
              description: Observable outcomes the check must continue to prove.
            mustPreserve:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 1000
              maxItems: 20
              default: []
              description: Guardrails an AI repair must not weaken or bypass.
          default: null
          required:
          - goal
          additionalProperties: false
        aiAutoRepairEnabled:
          type:
          - boolean
          - 'null'
          default: null
        checkType:
          type: string
          enum:
          - MULTI_STEP
          default: MULTI_STEP
        environmentVariables:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ChecksV1EnvironmentVariable'
          maxItems: 200
        frequency:
          type: integer
          enum:
          - 1
          - 2
          - 5
          - 10
          - 15
          - 30
          - 60
          - 120
          - 180
          - 360
          - 720
          - 1440
          default: 10
        script:
          type:
          - string
          - 'null'
          minLength: 1
        scriptPath:
          type:
          - string
          - 'null'
          minLength: 1
        privateLocations:
          type:
          - array
          - 'null'
          items:
            type: string
            minLength: 1
        dependencies:
          $ref: '#/components/schemas/ChecksV1DependencyList'
      required:
      - name
      - script
    ChecksV1IcmpMonitor:
      type: object
      properties:
        name:
          type: string
          minLength: 1
        activated:
          type: boolean
          default: true
        muted:
          type: boolean
          default: false
        doubleCheck:
          type: boolean
          default: true
        shouldFail:
          type: boolean
          default: false
        locations:
          type:
          - array
          - 'null'
          items:
            type: string
            enum:
            - us-east-1
            - us-east-2
            - us-west-1
            - us-west-2
            - ca-central-1
            - sa-east-1
            - eu-west-1
            - eu-central-1
            - eu-west-2
            - eu-west-3
            - eu-north-1
            - eu-south-1
            - me-south-1
            - ap-southeast-1
            - ap-northeast-1
            - ap-east-1
            - ap-southeast-2
            - ap-southeast-3
            - ap-northeast-2
            - ap-northeast-3
            - ap-south-1
            - af-south-1
          default: []
        tags:
          type: array
          items:
            type: string
            minLength: 1
          default: []
        alertSettings:
          $ref: '#/components/schemas/ChecksV1AlertSettings'
        useGlobalAlertSettings:
          type: boolean
          default: true
        groupId:
          type:
          - number
          - 'null'
          default: null
        groupOrder:
          type:
          - number
          - 'null'
          minimum: 0
          default: null
        runtimeId:
          type:
          - string
          - 'null'
          enum:
          - '2026.04'
          - '2025.04'
          - '2024.09'
          - '2024.02'
          - '2023.09'
          - '2023.02'
          - '2022.10'
          - null
          default: null
        alertChannelSubscriptions:
          type: array
          items:
            $ref: '#/components/schemas/ChecksV1AlertChannelSubscription'
        retryStrategy:
          $ref: '#/components/schemas/ChecksV1RetryStrategy'
        triggerIncident:
          $ref: '#/components/schemas/ChecksV1TriggerIncident'
        runParallel:
          type: boolean
          default: false
        description:
          type:
          - string
          - 'null'
          maxLength: 500
          default: null
        intent:
          type:
          - object
          - 'null'
          properties:
            goal:
              type: string
              minLength: 1
              maxLength: 2000
              description: The user or system outcome this check protects.
            requiredOutcomes:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 1000
              maxItems: 20
              default: []
              description: Observable outcomes the check must continue to prove.
            mustPreserve:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 1000
              maxItems: 20
              default: []
              description: Guardrails an AI repair must not weaken or bypass.
          default: null
          required:
          - goal
          additionalProperties: false
        aiAutoRepairEnabled:
          type:
          - boolean
          - 'null'
          default: null
        id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
        alertChannels:
          $ref: '#/components/schemas/ChecksV1AlertChannels'
        project:
          $ref: '#/components/schemas/ChecksV1CheckProject'
        logicalId:
          type:
          - string
          - 'null'
          description: The check's logical ID within the managing project, or null when it is not managed by code.
        member:
          type:
          - boolean
          - 'null'
          description: 'True when the project owns this check, false when it merely references a check owned outside the project. Null when not managed by code. The same relationship appears structurally in `projectBindings`: an owning project under `projectBindings.owner`, a referencing one under `projectBindings.references`.'
        pending:
          type:
          - boolean
          - 'null'
          description: True when the binding is reserved by an import plan that has not been deployed yet. Null when not managed by code.
        projectBindings:
          $ref: '#/components/schemas/ProjectBindingsV1'
        privateLocations:
          type:
          - array
          - 'null'
          items:
            type: string
            minLength: 1
        frequency:
          type: integer
          enum:
          - 0
          - 1
          - 2
          - 5
          - 10
          - 15
          - 30
          - 60
          - 120
          - 180
          - 360
          - 720
          - 1440
          default: 10
        frequencyOffset:
          type: integer
          minimum: 1
        checkType:
          type: string
          enum:
          - ICMP
        request:
          $ref: '#/components/schemas/ChecksV1IcmpRequest'
        degradedPacketLossThreshold:
          type:
          - number
          - 'null'
        maxPacketLossThreshold:
          type:
          - number
          - 'null'
      required:
      - name
    ChecksV1TcpCheck:
      type: object
      properties:
        name:
          type: string
          minLength: 1
        activated:
          type: boolean
          default: true
        muted:
          type: boolean
          default: false
        doubleCheck:
          type: boolean
          default: true
        shouldFail:
          type: boolean
          default: false
        locations:
          type:
          - array
          - 'null'
          items:
            type: string
            enum:
            - us-east-1
            - us-east-2
            - us-west-1
            - us-west-2
            - ca-central-1
            - sa-east-1
            - eu-west-1
            - eu-central-1
            - eu-west-2
            - eu-west-3
            - eu-north-1
            - eu-south-1
            - me-south-1
            - ap-southeast-1
            - ap-northeast-1
            - ap-east-1
            - ap-southeast-2
            - ap-southeast-3
            - ap-northeast-2
            - ap-northeast-3
            - ap-south-1
            - af-south-1
          default: []
        tags:
          type: array
          items:
            type: string
            minLength: 1
          default: []
        alertSettings:
          $ref: '#/components/schemas/ChecksV1AlertSettings'
        useGlobalAlertSettings:
          type: boolean
          default: true
        groupId:
          type:
          - number
          - 'null'
          default: null
[...]
