openapi: 3.1.0
info:
  title: Checkly Public Accounts Maintenance Windows API
  version: v1
  description: The Checkly Public API allows you to programmatically manage your monitoring checks, alerts, and more. If you have any questions, please do not hesitate to get in touch with us.
  contact:
    name: Checkly Support
    url: https://checklyhq.com/support
  license:
    name: MIT
servers:
- url: https://api.checklyhq.com
  description: Production server
security:
- bearerAuth: []
  accountId: []
tags:
- name: Maintenance Windows
paths:
  /v1/maintenance-windows:
    get:
      summary: List Maintenance Windows
      description: Retrieve all maintenance windows
      operationId: listMaintenanceWindows
      parameters:
      - name: limit
        in: query
        description: Limit the number of results
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: List of maintenance windows
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceWindowList'
      tags:
      - Maintenance Windows
    post:
      summary: Create Maintenance Window
      description: Create a new maintenance window
      operationId: createMaintenanceWindow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaintenanceWindowCreate'
      responses:
        '201':
          description: Maintenance window created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceWindow'
      tags:
      - Maintenance Windows
components:
  schemas:
    MaintenanceWindow:
      type: object
      properties:
        id:
          type: string
          description: Maintenance window ID
        name:
          type: string
          description: Maintenance window name
        startsAt:
          type: string
          format: date-time
          description: Start timestamp
        endsAt:
          type: string
          format: date-time
          description: End timestamp
    MaintenanceWindowList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MaintenanceWindow'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    PaginationMeta:
      type: object
      properties:
        currentPage:
          type: integer
          description: Current page number
        totalPages:
          type: integer
          description: Total number of pages
        totalItems:
          type: integer
          description: Total number of items
        limit:
          type: integer
          description: Items per page
    MaintenanceWindowCreate:
      type: object
      required:
      - name
      - startsAt
      - endsAt
      properties:
        name:
          type: string
          description: Maintenance window name
        startsAt:
          type: string
          format: date-time
          description: Start timestamp
        endsAt:
          type: string
          format: date-time
          description: End timestamp
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API Key authentication for Checkly API. You can get your API key at https://app.checklyhq.com/settings/user/api-keys
    accountId:
      type: apiKey
      in: header
      name: X-Checkly-Account
      description: Your Checkly account ID. You can find it at https://app.checklyhq.com/settings/account/general
